[Unit]
Description=Open DM-Crypt "plain" on SD-card %I
Documentation=https://github.com/Olf0/crypto-sdcard
DefaultDependencies=no
After=sysinit.target dev-%i.device
BindsTo=dev-%i.device
Requires=sysinit.target
Conflicts=umount.target shutdown.target actdead.target factory-test.target
Before=umount.target shutdown.target mount-cryptosd-plain@%i.service 
IgnoreOnIsolate=true
AssertFileNotEmpty=/etc/crypto-sdcard/%I.key

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=file:/etc/crypto-sdcard/%I.key 
# For devices, which need the qcrypto kernel module loaded to support modern cryptographic schemes as e.g. XTS:
# ExecStartPre=/sbin/modprobe qcrypto
ExecStart=/usr/sbin/cryptsetup -d - -h sha1 -s 256 -c aes-xts-plain --allow-discards --type plain open /dev/%I %I
ExecStop=/usr/sbin/cryptsetup close %I

