[Unit]
Description=Open DM-Crypt LUKS on SD-card %I
Documentation=https://github.com/Olf0/crypto-sdcard
After=systemd-udevd.service dev-%i.device
BindsTo=dev-%i.device
PartOf=cryptsetup.target
Conflicts=actdead.target factory-test.target
IgnoreOnIsolate=true
AssertFileNotEmpty=/etc/crypto-sdcard/%I.key

[Service]
Type=oneshot
RemainAfterExit=yes
# For devices, which need the qcrypto kernel module loaded to support modern cryptographic schemes as e.g. XTS:
# ExecStartPre=/sbin/modprobe qcrypto
# For various reasons (dependency on udisks2, allow discards etc.), do not use "udisksctl unlock --key-file", call cryptsetup directly:
ExecStart=/usr/sbin/cryptsetup --allow-discards -d /etc/crypto-sdcard/%I.key luksOpen /dev/%I %I
ExecStop=/usr/sbin/cryptsetup close %I

