[Unit]
Description=Mount "plain" encrypted SD-card (%I) with udisks
Documentation=https://github.com/Olf0/crypto-sdcard
After=udisks2.service cryptosd-plain@%i.service dev-mapper-%i.device start-user-session.service
BindsTo=udisks2.service cryptosd-plain@%i.service dev-mapper-%i.device
# Ensure that this Unit is processed before alien-service-manager
# is started (and even more importantly that it is shut down, *after*
# alien-service-manager is shut down), to allow for android_storage
# on encrypted SD-card:
Before=alien-service-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
# "udisksctl mount" (below) often fails when issued right after
# "udisksd" (per "udisks2.service") has finished starting, as the
# udisks object for an encrypted partition has not been created yet.
# Hence giving udisksd a second to settle:
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/udisksctl-user mount -b /dev/mapper/%I
ExecStop=/usr/bin/udisksctl-user unmount -b /dev/mapper/%I

