[Unit]
Description=Mount LUKS encrypted SD-card (%I) with udisks
Documentation=https://github.com/Olf0/crypto-sdcard
After=udisks2.service cryptosd-luks@%i.service dev-mapper-%i.device
BindsTo=udisks2.service cryptosd-luks@%i.service dev-mapper-%i.device
# Ensure that this Unit is processed before alien-service-manager 
# is started (and even more importantly that it is shut down, *after*
# alien-service-manager is shut down), to allow for android_storage 
# on encrypted SD-card:
Before=alien-service-manager.service

[Service]
User=nemo
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/udisksctl mount -b /dev/mapper/%I
ExecStop=/usr/bin/udisksctl unmount -b /dev/mapper/%I

