[Unit]
Description=Mount %I per udisks
Documentation=https://github.com/Olf0/crypto-sdcard
# SPDX-License-Identifier: LGPL-2.1-only
After=udisks2.service cryptosd-plain@%i.service dev-mapper-%i.device start-user-session.service
Requires=udisks2.service cryptosd-plain@%i.service
# This is not neccessary here, and prevents this unit from auto-starting
# its dependencies, when called manually:
# Requisite=dev-mapper-%i.device
# Also conflict with umount.target (see man 7 systemd.special), as
# this is a mounting unit, though not a mount unit:
Conflicts=umount.target rescue.target actdead.target factory-test.target
# Ensure that this Unit is processed before alien-service-manager
# is started (and even more importantly that it is shut down, *after*
# alien-service-manager is shut down), to allow for e.g. (and more),
# android_storage on encrypted SD-card:
Before=alien-service-manager.service umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/systemd/system/cryptosd.conf
EnvironmentFile=-/etc/crypto-sdcard/cryptosd.conf
EnvironmentFile=-/etc/crypto-sdcard/cryptosd@%I.conf
ExecStart=/usr/bin/udisksctl-user mount $UDISKS2_MOUNT_OPTIONS -b /dev/mapper/%I
ExecStop=/usr/bin/udisksctl unmount -b /dev/mapper/%I
ExecStopPost=/bin/umount -vrq /dev/mapper/%I

